body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

h1 {
  font-size: 50px;
}
h2 {
  font-size: 40px;
}

p {
  text-align: justify;
}
.fcolor {
  color: violet;
}

.container {
  display: flex;
  padding-bottom: 120px;
}

.half-width {
  width: 50%;
  padding-left: 5%;
}
.half-width img {
  width: 80%;
}

.link-button {
  text-decoration: none;
  background-image: linear-gradient(rgb(233, 186, 233), violet);
  padding: 10px 40px;
  border-radius: 5px;
  color: blueviolet;
  font-weight: 700;
}
.top-banner {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}

.sec-half {
  width: 50%;
  padding-left: 5%;
  padding-right: 10px;
}
.sec-half img {
  width: 70%;
}

.second-banner {
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}

.thirdstep {
  width: 40%;
  box-shadow: 10px 10px 40px violet;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 50px;
  border-radius: 5%;
}

.third-banner {
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}

.for-third-para {
  padding-right: 50px;
  padding-bottom: 10px;
}
#full-stack-dev {
  border-right: 7px solid rgb(186, 130, 238);
}
#baby-web-dev {
  border-right: 7px solid rgb(67, 10, 124);
}

footer p {
  text-align: center;
}

.head {
  text-align: center;
}
